.main {
  display: grid; 
  height: 98vh; 
  grid-template-rows: auto 3rem; /* ugly and hardcoded */
  grid-template-areas: 
    "title"
    "footer"; 
}

.title-wrapper {
  grid-row: title;
  
  display: flex; 
  flex-direction: row;
  align-items: center; 
  justify-content: center;
}

.title-wrapper > * {
  padding: 1rem; 
}

.title-main {
  position: relative; 
  left: 3.5rem;

  font-family: "Alagard";
  line-height: 0.9; 
  font-size: 6rem; 
}

.title-sub { 
  position: relative;
  top: 5rem; 
  left: -3.5rem; 
  
  color: var(--01-fg-sub1); 

  font-family: "Geneva 9.1"; 
  font-size: 1rem;
}

.footer {
  grid-row: footer;
  
  display: flex; 
  align-items: center; 
  justify-content: center; 
  
  color: var(--01-fg-sub2); 
  
  font-size: 0.8rem; 
}

.footer > a {
  color: var(--01-fg-sub2); 
  
  font-family: monospace; 
  font-size: 0.75rem; 
}