---
title: xzbfsf - {{ title }}
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/shared.css">
    <link rel="stylesheet" href="../assets/css/articles.css">
    <title> xzbfsf :: {{ title }}</title>
  </head>
  <body>
    <div class="main">
      <div class="wrapper">
        <h1 class="wrap-child"> {{ title }} </h1>
        <div class="wrap-child">This is not a test.</div>
        
        <p> {{ content | safe }} </p>

      </div>
    </div>
  
</body></html>