<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../shared.css">
    <link rel="stylesheet" href="../articles.css">
    <title> xzbfsf :: {{ title }}</title>
  </head>
  <body>
    <div class="main">
      <div class="wrapper">
        <h1 class="wrap-child"> {{ title }} </h1>
        <div class="wrap-child">test</div>
        
        {{ content | safe }}
        
      </div>
    </div>
  </body>
</html>